*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.sec1{
    /* background-image: url('img/mario-gogh-VBLHICVh-lI-unsplash.jpg'); */
    width: 1349px;
    /* background-size: cover; */
    margin: auto;
}
.section1{
    background-image: url('img/mario-gogh-VBLHICVh-lI-unsplash.jpg');
    background-size: cover;
    width: 100%;
    height: 650px;
}
.container{
    max-width: 90%;
    margin: auto;
}
/* @media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
} */
.hero{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 12px;
}
.hero ul{
    display: flex;
    align-items: baseline;
    list-style: none;
}
.hero li{
    padding: 5px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.logo img{
    margin-top: 10px;
    border-radius: 50%;
}
.nav ul {
    list-style: none;
    color: white;
    font-size: 12px;
}
.nav li {
    padding: 15px;
    display: inline-block;
}
.logo{ 
    display: flex;
    align-items: center;
}
#btn1{
    background-color: black;
}
#btn2{
    background-color: orangered;
}
button {
    width: 120px;
    height: 40px;
    border: 0px solid;
    border-radius: 3px;
}
a{
    text-decoration: none;
    color: white;
}
.col1{
    max-width: 330px;
    margin-left: 200px;
    margin-top: 80px;
    color: white;
}
.col1 h1{
    margin-top: 10px;
    font-size: 50px;
}
.col1 button{
    margin-top: 20px;
}
.c1{
    max-width: 230px;
    height: 400px;
    color: white;
    background: rgba(250, 72, 7,0.8); 
    margin-top: 110px;
    margin-left: 265px;
    border: 2px solid orangered;
    border-radius: 2px;
    padding: 40px;
}
.c1 p{
    font-size: 12px;
}
.c1 h1{
    margin-top: 20px;
}
.flex{
    display: flex;
}
.c2{
    width: 800px;
    height: 500px;
    margin-left: 265px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.box1 {
    width: 350px;
}
.box1 p {
    margin-top: 20px;
}
#p{
    color: orangered;
}
#ul{
    margin-top: 20px;
}
.box1 h1{
    font-size: 40px;
    margin-top: 20px;
}
.box1 ul{
    list-style: circle inside url('img/icons8-clock-20.png');

}
.c-card1{
    width: 100px;
    height: 140px;
    background-color: lightblue;
    border-radius: 5px;
    position: absolute;
    top: -40px;
    right: 250px;
}
.c-card2{
    width: 110px;
    height: 140px;
    background-color: rgba(255, 81, 0);
    border-radius: 5px;
    position: absolute;
    margin-left: 245px;
    top: 240px;
    color: white;
}
.c-card2 h1{
    font-size: 30px;
    margin-top: 45px;
    margin-left: 20px;
}
.c-card2 p{
    margin-left: 25px;
}
.sec2{
    width: 100%;
    height: 300px;
    background-color: #000033;
    margin-top: 900px;
}
.inner{
    width: 830px;
    min-height: 150px;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inner h1{
    margin-top: 20px;
    font-size: 30px;
}
.btn{
    margin-top: 20px;
    width: 50px;
    height: 40px;
}
#btn1-c{
    background-color: blue;
    margin-right: 12px;
}
#btn2-c{
    background-color: orange;
}
.boxc{
    width: 830px;
    margin: auto;
}
.boxcard{
    width: 100%;
    height: 300px;
    display: flex;
    /* margin-left: 10px; */
    gap: 20px;
}
.imgbox img{
    width: 100%;
    height:200px;
    /* gap: 20px; */
    /* box-shadow: 0px 10px 0px 0px rgb(227, 223, 223); */

    /* background-color: blue; */
}
.imgbox{
    width: 100%;
    /* height: 400px; */
    gap: 20px;
    box-shadow: 0px 10px 0px 0px rgb(227, 223, 223);
}
.card-text{
    padding: 20px 20px;
}
.card-text ul{
    list-style: circle inside url('img/icons8-checkmark-20.png');
}
#btn{
    margin-top: 10px;
    color: orangered;
}
#imgbtn{
    width: 20px;
    height: 15px;    
}
.background-img{
    margin-top: 100px;
    position: relative;
    background-image: url('img/ben-o-bro-wpU4veNGnHg-unsplash.jpg');
    background-size: cover;
    width: 100%;
    height: 800px;
}
.background-color{
    width: 100%;
    height: 800px;
    position: absolute;
    background-color:rgba(236, 236, 248, 0.8);
}
.sec3{
    width: 100%;
    position: absolute;
}
.inner2{
    margin: auto;
    margin-top: 160px;
    width: 830px;
    color: white;
    display: flex;
    justify-content: space-between;    
}
#textline{
    color: rgb(255, 110, 20);
    display: flex;
    align-items: center;
    gap: 30px;
}
#textline img{
    width: 40px;
    height: 20px;
}
#txtline{
    color: rgb(255, 110, 20);
    display: flex;
    align-items: center;
    gap: 10px;
}
#txtline img{
    width: 20px;
    height: 20px;
}
#f-color{
    color: black;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.circle-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
    margin-top: 60px;
}
.three-box{
    width: 700px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.three-box > div img{
    width: 260px;
    height: 230px;
}
.sec4{
    width: 830px;
    height: 200px;
    margin: auto;
    margin-top: 800px;
    background-color: #000033;;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.midsec4{
    width: 85%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.box2{
    display: flex;

}
.box2 ul li{
    list-style: none;
    color: wheat;
    padding: 5px;
}
.box3 li h1{
    color: rgba(255, 115, 0, 0.945);
    font-size: 30px;
}
.sec5{
    /* width: 100%; */
    width: 830px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.box4{
    margin-top: 60px;
    width: 35%;
    height: 180px;
}
.box4 ul{
    display: flex;
    justify-content: space-between;
    padding: 2px;

}
.box4 li{
    list-style: none;    
}
#p-font{
    font-size: 12px;
    color: rgba(15, 14, 14,0.7);
    margin-bottom: 40px;
}
.progress-bar{ 
    background-color: rgb(192, 192, 192); 
    margin-top: 5px;
}
.skill { 
    background-color: rgb(255, 102, 0); 
    padding: 1.5%; 
    text-align: right; 
    font-size: 20px;
} 
.marketing{ 
    width: 75%; 
}
.development{ 
    width: 80%; 
}
.converting{
    width: 65%;
} 
.box5{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    color: #000033;
    justify-items: center;
    margin-left: 100px;
}
#btn3{
    width: 130px;
    color: white;
    background-color: orangered;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.t-center h2 {
    margin-top: 8px;
    margin-left: 35px;
}
.t-center h5{
    font-size: 11px;
    margin-left: 50px;
}
.sec6{
    width: 100%;
    /* width: 1349px; */
    display: flex;
    gap: 1px;
    margin-top:60px;
}
.map{
    width: 50%;
}
.info{
    width: 50%;
    background-color: rgb(229, 236, 238);
}
.info-inner{
    width: 300px;
    height: 400px;
    margin-left: 60px;
    margin-top: 50px;
}
.info-inner h1{
    font-size: 35px;
    margin-bottom: 10px;
}
.info-inner p{
    color: grey;
    margin-bottom: 10px;
}
.info-inner input{
    width: 300px;
    height: 45px;
    margin-top: 20px;
    border: 2px solid #f5f5f5c2;
    color: gray;
}
#input{
    height: 100px;    
}
#bt{
    background-color: orangered;
    color: white;
    border: 0px solid orangered;
    border-radius: 5px;
}
.sec7{
    width: 100%;
    background-color: #000033;
    /* width: 1349px; */
    height: 350px;

}
/* .sec7inner{

} */
